@'
# Dependances
node_modules/
api/node_modules/

# Secrets - NE JAMAIS COMMITER
wazuh-certs/
peer1.conf
*.key
*-key.pem
.env

# Runtime
*.log
'@ | Set-Content -Encoding UTF8 .gitignore
certs/*.pem
!certs/.gitkeep